<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
    This is a friendly notice that your payment to your trainer was declined.  Please update your billing information within the settings of the BodyFrame app and add a new payment method or try your payment again.
    </span>
  </span>
  <br>
  &nbsp;
</p>
<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
    We are here to help you succeed and continue to grow your clients and bottom line. Should you have any questions feel free to contact our awesome support team at support@bodyframe.app or support within settings in the BodyFrame App!
      <br>
      <br>
      Again, congratulations and thank you for joining the BodyFrame community!
    </span>
  </span>
</p>