<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      This is a friendly notice that you have successfully added a new checking account to your BodyFrame account to withdraw your wallet balance.
    </span>
  </span>
  <br>
  &nbsp;
</p>
<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      We are here to help you succeed and continue to grow your clients and bottom line. Should you have any questions feel free to contact our awesome support team at support@bodyframe.app or support within settings in the BodyFrame App!
      <br>
    </span>
  </span>
</p>