<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      Whoops. Your BodyFrame payment was declined.  Please update your billing method within settings of the BodyFrame app to keep your account active and avoid and service interruption. 
    </span>
  </span>
  <br>
  &nbsp;
</p>
<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      We are here to help you succeed and continue to grow your clients and bottom line. Should you have any questions feel free to contact our awesome support team at support@bodyframe.app or support within settings in the BodyFrame App!
      <br>
    </span>
  </span>
</p>