<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      Your BodyFrame subscription has been successfully charged. Keep up the great work! Thank you for your business 
    </span>
  </span>
  <br>
  &nbsp;
</p>
<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      We are here to help you succeed and continue to grow your clients and bottom line. Should you have any questions feel free to contact our awesome support team at support@bodyframe.app or support within settings in the BodyFrame App!
      <br>
    </span>
  </span>
</p>