<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      We were unable to charge your payment method for your BodyFrame account. Your account has been cancelled due to non-payment.  Please update your payment information to renew your subscription. Once renewed you will have complete access to your clients and training programs.
    </span>
  </span>
  <br>
  &nbsp;
</p>
<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      We are here to help you succeed and continue to grow your clients and bottom line. Should you have any questions feel free to contact our awesome support team at support@bodyframe.app or support within settings in the BodyFrame App!
      <br>
    </span>
  </span>
</p>