<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      Congratulations! You have successfully withdrawn $XXXX from your wallet balance.  Please allow 3-5 business days for the funds to post to the assigned checking account within the BodyFrame app.
    </span>
  </span>
  <br>
  &nbsp;
</p>
<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      We are here to help you succeed and continue to grow your clients and bottom line. Should you have any questions feel free to contact our awesome support team at support@bodyframe.app or support within settings in the BodyFrame App!
      <br>
    </span>
  </span>
</p>