<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      Welcome to BodyFrame the exclusive mobile app for personal trainers that is built to build your personal training business!
    </span>
  </span>
  <br>
  &nbsp;
</p>
<p>
  <span style="color:#698596;">
    <span style="font-size:18px;">
      We are here to help you succeed and continue to grow your clients and bottom line. Should you have any questions feel free to contact our awesome support team at support@bodyframe.app or support within settings in the BodyFrame App!
      <br>
      <br>
      Again, congratulations and thank you for joining the BodyFrame community!
    </span>
  </span>
</p>